.intro {
  color: rgb(130, 184, 238);
}

.paragraph {
    font-style: oblique;
    color: rgb(185, 221, 23);

}

.round {
  border-radius: 50%;
}

body {
  
  text-align: center

}

.highlight {
     color: red;

}